$href:50%;
$rhref:-50%;
$full:100%;
$postion-r:absolute;
$black:#000000;
$white:#ffffff;
$button-color:#438de9 #ffb200 #fb93b3;

//中
/*
    sh
    多行注释
*/


body{
    background-image: url(../images/body.png);
    background-repeat: no-repeat;
    background-size: $full;
    width: $full;
    height: 500px; 
}

div.title{
    width: 215px;
    height: 530px;
    background-image: url(../images/title-b.png);
    background-size: 100%  120%;
    position: $postion-r;
    left: 51px;
    background-repeat:no-repeat;
}
div.logo{
    text-align: center;
    margin-top: 17px;
}
div.logo p{
    font-size: 20px;
    padding-bottom:2px;
    
}
div.logo p:nth-child(3){
    border-bottom: 1px solid #000000;
    width:130px;
    margin: auto;
    // ÷display: inline-block;
     
}
div.logo p:nth-child(4){
    font-size: 12px;
    margin-top:5px;
    transform: scale(.8,.8);
     
}
button{
    width: 156px;
    height: 37px;
    display: block;
    margin: auto;
    background-image: url(../images/button.png);
    color: $white;
    margin-top: 31px;
}
div.quick{
   margin-top: 10px;
   a{
       display: block;
   }
   a.list{
       font-size: 12px;
       margin: 0 20px 0 20px;
       padding: 10px 31px;
       background: url(../images/squre.png) no-repeat;
       background-position: 10px 50%; 
       border-bottom:1px solid transparent;
       border-image: -webkit-linear-gradient(90deg,rgba(0,0,0,0),#cccccc,rgba(0,0,0,0)) 30 30;
       border-image: -moz-linear-gradient(90deg,rgba(0,0,0,0),#cccccc,rgba(0,0,0,0)) 30 30;
       border-image: linear-gradient(90deg,rgba(0,0,0,0),#cccccc,rgba(0,0,0,0)) 30 30 ;

   }
   a.list:first-child{
       border: none;
       margin: 0 50px;
       font-size: 18.03px;
       color: #cccc99;
   }
   $p-height:24px;
   p{
       font-size: 14px;
       width: 100%;
       height: $p-height;
       background: rgba($color:#d6be8e, $alpha: .45);
       line-height: $p-height;
       font-size: 14px;
       color: #996633;
       box-sizing: border-box;
       padding-left: 26px;
   }
}
.hotel-context{
    width: 625px;
    height: 554px;
    // background-color: red;
    position: absolute;
    right: 10%;
    .massage{
        position: absolute;
        background-color: rgba($color: #568ed0, $alpha: .7);
        width: 317px;
        height: 138px;
        top:176px;
        left: 50%;
        transform: translate(-50%,0);
        color: $white;
        font-size:42px;
        // margin-top: 24px;
        text-align: center;
        p:nth-child(1){
            display: flex;
        align-items: center;
        width: 256px;
        font-size: 28px;
        margin: auto;
         margin-top: 23px;
        

        }
        p{
            margin-top: 10px;
        }
    }

    .h-image{
        width: 100%;
        height: 402px;
        background-color: $white;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 45px;
        align-items: center;
        @for $i from 1 to 13{
            div.bg:nth-child(#{$i}){
                width: 24%;
                height: 32%;
                background:url(../images/hotel-#{$i}.png);
                align-self:if($i>8,flex-end,if($i<5,flex-start,auto));
                
                cursor: pointer;
                // &::after{
                //     display: block;
                //     width: 100%;
                //     height: 100%;
                //     background-color: #000000;
                // }
            }

        }
        div{
           div.on{
               width: 100%;
               height: 100%;
               background-color: rgba($color: #568ed0, $alpha: .5);
               display: flex;
               align-items: center;
            //    justify-content: center；
            // flex-direction: column;
            justify-content: center;
            color: $white;
            font-size: 16px;
                position: relative;
                .supre{
                    width: 20px;
                    height: 20px;
                    border:10px solid transparent;
                   
                    position: absolute;
                    // background-color: red;
                    
                }
                .supre:nth-child(1){
                    border-color: $white transparent transparent $white;
                    top:0;
                    left: 0;

                }
                .supre:nth-child(2){
                    border-color: transparent transparent $white $white;
                    bottom:0;
                    left: 0;

                }
                .supre:nth-child(3){
                    border-color: $white $white  transparent transparent;
                    top:0;
                    right: 0;

                }
                .supre:nth-child(4){
                    border-color: transparent $white  $white transparent;
                  bottom:0;
                    right: 0;
                    
                }
               
           }
        }
        
    }
    .button{
        width: 100%;
        height: 45px;
        margin-top:25px;
        display: flex;
        justify-content: space-between;
 
        a{
            display: block;
            height: 100%;
            width: 201px;
            text-align: center;
            line-height: 45px;
            color: $white;    
            position: relative;
        }
        $it:1;
        @each $i in  $button-color{
            a:nth-child(#{$it}){
                background-color: #{$i};
            }
            $it:$it+1;
        }
     }
      
    

}
footer{
    width: 100%;
    height: 92px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $white;
    .list{
        width: 100%;
        height: 33%;
        display: flex;
        align-items: center;
        background-image: url(../images/footer.png);
        background-size:contain;
        .list-l{
            float: left;
            width: 100%;
            margin-left: 103px;
            a{
                display: inline-block;
                margin-right: 1px;
            }
        } 
        .list-r{
            width: 441px;
            // height: 100%;
            @for $i from 1 to 6{
                a:nth-child(#{$i}){
                    width: 18px;
                    height: 18px;
                    display: inline-block;
                    background: url(../images/footer-m#{$i}.png) no-repeat content-box;
                    background-position: 50%;
                }
            }
     
        }
        .QR{
            .big{
                position: absolute;
                top: -77px;
                right: 32px;
            }
            margin-right: 10px
        }
        
    }
    .buttom{
        text-align: right;
        color: #996633;
        margin: 13px 100px 0  0; 
        
    }

}



